.backgroungLoader {
  @apply bg-gradient-to-r from-slate-300 backdrop-blur-md;
}
.colorLoader {
  @apply bg-sky-500;
}
.div_loading {
  @apply rounded-lg border border-gray-200 shadow-md sm:p-6 md:p-8 dark:border-gray-700 z-50;
  position: absolute;
  height: 35%;
  width: 30%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.spinner {
  margin: 0 auto;
  width: 200px;
  height: 20px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  margin-left: 3px;
  -webkit-animation: sk-stretchdelay 1.8s infinite ease-in-out;
  animation: sk-stretchdelay 1.8s infinite ease-in-out;
}
.spinner div:nth-child(1) {
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}
.spinner div:nth-child(2) {
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
}
.spinner div:nth-child(3) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.spinner div:nth-child(4) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}