.via-bg-sidebar {
  @apply bg-theme-app-500 dark:bg-theme-app-800;
}

.via-options-sidebar {
  @apply text-gray-50 hover:bg-gray-200 hover:text-gray-600 dark:text-white dark:hover:bg-gray-700;
}

.via-suboptions-sidebar {
  @apply text-gray-50 hover:bg-gray-100 hover:text-gray-600 dark:text-white dark:hover:bg-gray-700;
}
